<%= form_for(group_emp) do |f| %>
  <% if group_emp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_emp.errors.count, "error") %> prohibited this group_emp from being saved:</h2>

      <ul>
      <% group_emp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %>
    <%= f.text_field :id %>
  </div>

  <div class="field">
    <%= f.label :levelGroup %>
    <%= f.number_field :levelGroup %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
