<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %>
    <%= f.text_field :id %>
  </div>

  <div class="field">
    <%= f.label :dni %>
    <%= f.number_field :dni %>
  </div>

  <div class="field">
    <%= f.label :userName %>
    <%= f.text_field :userName %>
  </div>

  <div class="field">
    <%= f.label :firstName %>
    <%= f.text_field :firstName %>
  </div>

  <div class="field">
    <%= f.label :lastName %>
    <%= f.text_field :lastName %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.number_field :group_id %>
  </div>

  <div class="field">
    <%= f.label :dateIn %>
    <%= f.date_select :dateIn %>
  </div>

  <div class="field">
    <%= f.label :dateOut %>
    <%= f.date_select :dateOut %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :isValid %>
    <%= f.check_box :isValid %>
  </div>

  <div class="field">
    <%= f.label :languageIt %>
    <%= f.text_field :languageIt %>
  </div>

  <div class="field">
    <%= f.label :validationOrigin %>
    <%= f.number_field :validationOrigin %>
  </div>

  <div class="field">
    <%= f.label :isSystemUser %>
    <%= f.check_box :isSystemUser %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
