<div class="page-header">
  <%= link_to new_status_catalog_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Status catalog
  <% end %>
  <h1>Listing status_catalogs</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Status catalog</th>
            <th>Status name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @status_catalogs) do |status_catalog| %>
            <td><%= status_catalog.status_catalog_id %></td>
            <td><%= status_catalog.status_name %></td>
            <td><%= link_to 'Show', status_catalog %></td>
        <td><%= link_to 'Edit', edit_status_catalog_path(status_catalog) %></td>
        <td><%= link_to 'Destroy', status_catalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
