<div class="page-header">
  <%= link_to new_box_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Box
  <% end %>
  <h1>Boxes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Box</th>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Score</th>
            <th>Bussy</th>
            <th></th>
        <th></th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @boxes) do |box| %>
        <td><%= box.box_id %></td>
        <td><%= box.name %></td>
        <td><%= box.description %></td>
        <td><%= box.location_id %></td>
        <td><%= box.phone %></td>
        <td><%= box.score %></td>
        <td><%= box.bussy %></td>
        <td><%= link_to 'Show', box %></td>
        <td><%= link_to 'Edit', edit_box_path(box) %></td>
        <td><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
    </tbody>
</table>
</div>
