<div class="page-header">
  <%= link_to events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_event_path(@event), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show event</h1>
</div>

<dl class="dl-horizontal">
  <dt>Event:</dt>
  <dd><%= @event.event_id %></dd>

  <dt>Name:</dt>
  <dd><%= @event.name %></dd>

  <dt>Description:</dt>
  <dd><%= @event.description %></dd>

  <dt>Date event:</dt>
  <dd><%= @event.date_event %></dd>

  <dt>Time event:</dt>
  <dd><%= @event.time_event %></dd>

  <dt>Capacity:</dt>
  <dd><%= @event.capacity %></dd>

</dl>
