<%= form_for(@shipment_status, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @shipment_status.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@shipment_status.errors.count, "error") %> prohibited this shipment_status from being saved:</h4>

      <ul>
      <% @shipment_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :shipment_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :shipment_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status_catalog_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :status_catalog_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status_time, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :status_time, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notes, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :notes, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
