<div class="page-header">
  <%= link_to new_shipment_status_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Shipment status
  <% end %>
  <h1>Listing shipment_statuses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Shipment</th>
            <th>Status catalog</th>
            <th>Status time</th>
            <th>Notes</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @shipment_statuses) do |shipment_status| %>
            <td><%= shipment_status.shipment_id %></td>
            <td><%= shipment_status.status_catalog_id %></td>
            <td><%= shipment_status.status_time %></td>
            <td><%= shipment_status.notes %></td>
            <td><%= link_to 'Show', shipment_status %></td>
        <td><%= link_to 'Edit', edit_shipment_status_path(shipment_status) %></td>
        <td><%= link_to 'Destroy', shipment_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
