<p id="notice"><%= notice %></p>

<p>
  <strong>Country name:</strong>
  <%= @country.country_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @country.country_id %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
