<div class="page-header">
  <%= link_to new_genere_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Genere
  <% end %>
  <h1>Listing generes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Genere</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @generes) do |genere| %>
            <td><%= genere.genere_id %></td>
            <td><%= genere.name %></td>
            <td><%= genere.description %></td>
            <td><%= link_to 'Show', genere %></td>
        <td><%= link_to 'Edit', edit_genere_path(genere) %></td>
        <td><%= link_to 'Destroy', genere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
