<div class="page-header">
  <%= link_to locations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_location_path(@location), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show location</h1>
</div>

<dl class="dl-horizontal">
  <dt>Location:</dt>
  <dd><%= @location.location_id %></dd>

  <dt>Name:</dt>
  <dd><%= @location.name %></dd>

  <dt>Description:</dt>
  <dd><%= @location.description %></dd>

  <dt>Address:</dt>
  <dd><%= @location.address %></dd>

  <dt>Phone:</dt>
  <dd><%= @location.phone %></dd>

  <dt>Coordenate:</dt>
  <dd><%= @location.coordenate %></dd>

  <dt>Management:</dt>
  <dd><%= @location.management %></dd>

  <dt>City:</dt>
  <dd><%= @location.city_id %></dd>

</dl>
